parameters:
	ignoreErrors:
		-
			rawMessage: 'Callback expects 0 parameters, $accepted_args is set to 2.'
			identifier: arguments.count
			count: 1
			path: src/Optimization/CleanUp.php

		-
			rawMessage: Binary operation "." between '/' and mixed results in an error.
			identifier: binaryOp.invalid
			count: 1
			path: src/Optimization/Enqueue.php

		-
			rawMessage: Constant WPINC not found.
			identifier: constant.notFound
			count: 1
			path: src/Optimization/Enqueue.php

		-
			rawMessage: Cannot cast mixed to string.
			identifier: cast.string
			count: 3
			path: src/Optimization/Media.php

		-
			rawMessage: 'Method JazzMan\Performance\Optimization\Media::mediaLibraryMonthsWithFiles() should return array<stdClass> but returns array.'
			identifier: return.type
			count: 1
			path: src/Optimization/Media.php

		-
			rawMessage: 'Property WP_Taxonomy::$update_count_callback (callable) in isset() is not nullable.'
			identifier: isset.property
			count: 1
			path: src/Optimization/TermCount.php

		-
			rawMessage: Right side of && is always true.
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: src/Optimization/TermCount.php

		-
			rawMessage: Cannot cast mixed to string.
			identifier: cast.string
			count: 1
			path: src/Optimization/Update.php

		-
			rawMessage: 'Parameter #1 $maybeint of function absint expects array|bool|float|int|resource|string|null, mixed given.'
			identifier: argument.type
			count: 2
			path: src/Optimization/WPQuery.php

		-
			rawMessage: 'Call to function is_array() with array{file: string, width: int, height: int, mime-type: string} will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Utils/AttachmentData.php

		-
			rawMessage: Cannot cast mixed to int.
			identifier: cast.int
			count: 1
			path: src/Utils/AttachmentData.php

		-
			rawMessage: 'Property JazzMan\Performance\Utils\AttachmentData::$attachmentHeight (int|null) is never assigned null so it can be removed from the property type.'
			identifier: property.unusedType
			count: 1
			path: src/Utils/AttachmentData.php

		-
			rawMessage: 'Property JazzMan\Performance\Utils\AttachmentData::$attachmentWidth (int|null) is never assigned null so it can be removed from the property type.'
			identifier: property.unusedType
			count: 1
			path: src/Utils/AttachmentData.php



