parameters:
	ignoreErrors:
		-
			message: "#^Callback expects 0 parameters, \\$accepted_args is set to 2\\.$#"
			count: 1
			path: src/Optimization/CleanUp.php

		-
			message: "#^Property WP_Taxonomy\\:\\:\\$update_count_callback \\(callable\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: src/Optimization/TermCount.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: src/Optimization/TermCount.php

		-
			message: "#^PHPDoc tag @var with type array\\<int\\> is not subtype of native type mixed\\.$#"
			count: 2
			path: src/Optimization/WPQuery.php

		-
			message: "#^Call to function is_array\\(\\) with array\\{file\\: string, width\\: int, height\\: int, mime\\-type\\: string\\} will always evaluate to true\\.$#"
			count: 1
			path: src/Utils/AttachmentData.php

