includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - %currentWorkingDirectory%/phpstan-baseline.neon

parameters:
	level: max
	inferPrivatePropertyTypeFromConstructor: true
	treatPhpDocTypesAsCertain: true
	tmpDir: %currentWorkingDirectory%/cache/phpstan
	fileExtensions:
	    - php
	excludePaths:
	    - cache
	    - .php-cs-fixer.php
	    - rector.php
	paths:
	    - src