parameters:
	ignoreErrors:
		-
			message: "#^Method JazzMan\\\\Performance\\\\Optimization\\\\Media\\:\\:mediaLibraryMonthsWithFiles\\(\\) should return array\\<stdClass\\> but returns array\\|false\\.$#"
			count: 1
			path: src/Optimization/Media.php

		-
			message: "#^Property WP_Taxonomy\\:\\:\\$update_count_callback \\(callable\\) in empty\\(\\) is not falsy\\.$#"
			count: 1
			path: src/Optimization/TermCount.php

		-
			message: "#^Method JazzMan\\\\Performance\\\\Optimization\\\\Update\\:\\:availableTranslations\\(\\) should return array\\<string, array\\{language\\: string, iso\\: array\\{string\\}\\|string, version\\: string, updated\\: string, strings\\: array\\{continue\\: string\\}\\|string, package\\: string\\}\\> but returns array\\<string, non\\-empty\\-array\\<string, mixed\\>\\>\\.$#"
			count: 1
			path: src/Optimization/Update.php

		-
			message: "#^Offset 'dirname' does not exist on array\\{dirname\\?\\: string, basename\\: string, extension\\?\\: string, filename\\: string\\}\\.$#"
			count: 1
			path: src/Security/Sanitize.php

		-
			message: "#^Parameter \\#5 \\$callback of function add_menu_page expects callable\\(\\)\\: mixed, '' given\\.$#"
			count: 1
			path: src/Utils/WPBlocks.php

