includes:
    - %currentWorkingDirectory%/phpstan-baseline.neon

parameters:
	level: max
	inferPrivatePropertyTypeFromConstructor: true
	treatPhpDocTypesAsCertain: true
	fileExtensions:
	    - php
	excludePaths:
	    - cache
	    - .php-cs-fixer.php
	    - rector.php
	paths:
	    - src