name: Create Release
on:
  push:
    tags:
      - '*'
jobs:
  create-release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Build Changelog
        id: changelog
        uses: loopwerk/tag-changelog@v1
        with:
          token: ${{ github.token }}

      - name: Create release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body: ${{steps.changelog.outputs.changelog}}
